.user-png {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  color: #5c6ac4;
  font-size: 25px;
  font-weight: bold;
}

.btn-nav {
  background-color: #5c6ac4;
  border-radius: 5px;
  color: white !important;
  font-weight: bold;
}
